{% extends 'layouts/base.html' %}

{% block title %}Blood{% endblock %}

{% block content %}
    <section id="blood" class="text-white">
        <div class="blood-header bg-info p-5 text-center">
            <h2>Blood Bank</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolorem et ipsum,
                obcaecati pariatur
                porro! Ad culpa dolor dolores exercitationem impedit incidunt iusto maiores molestias, natus non nulla
                provident tempora</p>
        </div>
        <div class="blood-body my-5">
            <div class="container">
                <div class="row">
                    {% for blood in blood_list %}
                        <div class="col-md-3 py-3">
                            <div class="d-flex flex-column text-uppercase text-center bg-danger p-5">
                                <div class="lead"><strong>{{ blood.group }}</strong></div>
                                <div class=""><small>{{ blood.availability }} Bottles</small></div>
                            </div>
                        </div>
                    {% empty %}
                        <p class="lead">No blood details found!</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}