{% extends 'layouts/base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
    <section id="patient-home" class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-9 order-2 order-md-1">
                    <p class="lead">Full Name: <strong>{{ user.first_name }} {{ user.last_name }}</strong></p>
                    <p class="lead">Age & Gender: <strong>{{ user.profile.age }}{{ user.profile.gender }}</strong></p>
                    <p class="lead">Address: <strong>{{ user.profile.address }}</strong></p>
                    <p class="lead">Phone Number: <strong>{{ user.profile.phone_number }}</strong></p>
                    <p class="lead">Blood Group: <strong>{{ user.profile.blood_group.group }}</strong></p>
                    {#                    <p class="lead">Medical History: <strong>{{ user.profile.medical_history }}</strong></p>#}
                    {#                    <p class="lead">Diagnosed Case: <strong>{{ user.profile.diagnosed_case }}</strong></p>#}
                    {#                    <p class="lead">Consulting Doctor: <strong>{{ user.profile.consulting_doctor }}</strong></p>#}
                    {#                    <p class="lead">Room/Ward Number: <strong>{{ user.profile.room_number }}</strong></p>#}
                </div>
                <div class="col-md-3 align-self-center order-1 order-md-2">
                    <img src="{{ user.profile.photo.url }}" alt="{{ user.first_name }}" class="img-fluid">
                    <hr class="d-sm-block d-md-none border border-dark">
                </div>
            </div>
            <div class="border border-dark p-3 mt-3 bg-info">
                <h2 class="text-center">Cases</h2>

                <ul class="list-group p-2">
                    {% for case in cases %}
                        <li class="list-group-item bg-dark text-white">
                            <div class="row">
                                <div class="col-md-5">
                                    {{ case.mrd_number }}
                                    {% if case.active %}
                                        <span class="badge badge-secondary">Active</span>
                                    {% endif %}
                                </div>
                                <div class="col-md-5">{{ case.consulting_doctor }}</div>
                                <div class="col-md-2 text-right">
                                    <a href="{% url 'patients:case-detail' case.pk %}" class="text-info"><i class="fas fa-eye"></i></a>
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        <p class="lead text-center">No cases found!</p>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </section>
{% endblock %}